<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Hotel Offers</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" method="post" th:action="@{/showOffers}" >
                        <fieldset>
                            <legend class="text-center header">Hotel Offers</legend>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="userId" name="userId" type="text" placeholder="User ID" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="destination" name="destination" type="text" placeholder="Destination"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="minTripStartDate" name="minTripStartDate" type="text" placeholder="Minimum Start Date (Format: YYYY-MM-DD)"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="maxTripStartDate" name="maxTripStartDate" type="text" placeholder="Maximum Start Date (Format: YYYY-MM-DD)"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="lengthOfStay" name="lengthOfStay" type="text" placeholder="Length Of Stay" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="minStarRating" name="minStarRating" type="text" placeholder="Minimum Star Rating" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="maxStarRating" name="maxStarRating" type="text" placeholder="Maximum Star Rating" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="minTotalRate" name="minTotalRate" type="text" placeholder="Minimum Total Rate" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="maxTotalRate" name="maxTotalRate" type="text" placeholder="Maximum Total Rate" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="minGuestRating" name="minGuestRating" type="text" placeholder="Minimum Guest Rating" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="maxGuestRating" name="maxGuestRating" type="text" placeholder="Maximum Guest Rating" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input id="maxPrice" name="maxPrice" type="text" placeholder="Maximum Price" class="form-control">
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Find Offers</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>